@import '../../scss/variables';

.habits-view {
  width: 100%;
  overflow-x: auto;
}

.habits-list {
  position: relative;

  .check-habit-box {
    position: absolute;
    margin-top: 13px;
    margin-left: 10px;
    display: flex;
    padding: 15px 10px;
    transform: translateY(-16px);
    z-index: 1;
  }

  li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    margin: 10px 5px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;

    .habit-time {
      left: 5%;
      position: relative;
    }

    .delete-btn {
      border-radius: 50%;
      padding: 10px;
      height: 36px;
      position: relative;
      z-index: 1;
      cursor: pointer;

      &:hover {
        background-color: #bbb;
      }
    }
  }
}

// override the checkbox's text color
span.jsx-2293672674.text,
span.jsx-3904811003.text {
  color: inherit;
}

@media (min-width: 1366px) {
  .habits-list {
    margin: auto;
    max-width: 1095px;
  }
}

@media (max-width: 480px) {
  .habits-list {
    li {
      height: 100px;

      .habit-time {
        left: 44%;
      }

      .delete-btn {
        transform: translateY(30px);
      }
    }
  }
}
