@import '../../scss/variables';

a {
  color: #fff;
}

.menu {
  background: transparent;
  padding: 50px 0 50px 15px;
  min-height: 100vh;
  min-width: 200px;
  max-width: 200px;
  overflow: hidden;
  transition: all 0.5s ease;
  position: relative;

  .menu-item .menu-text {
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s ease;
  }

  &.minimized {
    min-width: 80px;
    max-width: 80px;

    .menu-item .menu-text {
      opacity: 0;
    }
  }
}

.sidebar-top {
  color: #fff;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sidebar-icon {
    position: relative;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    font-size: 1.5rem;
    z-index: 2;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      box-shadow: 5px 5px 5px rgba($color: #fff, $alpha: 0.2),
        -5px -5px 5px rgba($color: #fff, $alpha: 0.2), -5px 5px 5px rgba($color: #fff, $alpha: 0.2),
        5px -5px 5px rgba($color: #fff, $alpha: 0.2);
    }
  }
}

a.menu-item {
  color: #fff;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;

  .menu-text {
    display: inline-block;
    margin-left: 20px;
  }

  &:hover {
    .menu-text {
      transition: all 0.1s ease-in;
      transform: scale(1.1);
      margin-left: 23px;
    }

    & svg {
      transition: all 0.1s ease-in;
      transform: scale(1.1);
    }
  }
}

a.menu-item.item-active {
  background: rgba(255, 255, 255, 0.8);
  font-weight: 600;
  position: relative;
  color: $primary-color;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transform: translateY(-100%);
    box-shadow: 10px 10px 0 0 rgb(238, 238, 249);
  }

  &::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    box-shadow: 10px -10px 0 0 rgb(238, 238, 249);
  }
}
