@import '../../scss/variables';

a {
  color: $white-color1;
}

.menu {
  background-color: $primary-color;
  padding: 50px 0 50px 15px;
  min-height: 100vh;
  min-width: 200px;
}

.menu .menu-item {
  color: #fff;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.menu .menu-item:hover {
  font-weight: 600;
  & svg {
    font-size: 18px;
  }
}

.menu .menu-item.active {
  background-color: rgb(255, 255, 255);
  font-weight: 600;

  a {
    color: $primary-color;
  }
}

.menu .menu-item.active::before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $primary-color;
  top: 0;
  right: 0;
  border-radius: 50%;
  transform: translateY(-100%);
  box-shadow: 10px 10px 0 0 rgb(255, 255, 255);
}
.menu .menu-item.active::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: $primary-color;
  border-radius: 50%;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  box-shadow: 10px -10px 0 0 rgb(255, 255, 255);
}

.menu .menu-item span {
  display: inline-block;
  margin-left: 10px;
}
