.sleep-container {
  height: calc(100vh - 80px);

  &.has-overflow {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.sleep-cal {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  h3 {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .selector-wrapper {
    margin-bottom: 10px;

    span {
      margin: 0px;
    }

    .separator {
      font-size: 20px;
      font-weight: 500;
      margin: 5px 10px 0 10px;
    }

    .cal-btn {
      border-radius: 5px;
      background-color: transparent;
      font-size: 16px;
      cursor: pointer;
      padding: 0px 8px;
      height: 38px;
      margin-top: 8px;
      transition: all 0.2s;

      &:hover {
        background-color: rgba(192, 192, 192, 0.3);
        border: none;
      }
    }
  }
}

.results {
  opacity: 1;
  transition: opacity 0.3s ease-in;

  &.inactive {
    opacity: 0;
  }

  h3 {
    text-align: center;
    font-weight: 500;
  }

  .calculated-time {
    display: grid;
    grid-template-columns: auto auto auto auto;

    .item {
      text-align: center;
      padding: 10px;

      h1 {
        font-weight: 500;
      }

      p {
        font-size: 14px;
        color: #555;
      }
    }
  }

  .learn-more-btn {
    margin-top: 10px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 0px;
    margin-bottom: 10px;
    color: rgb(38, 132, 255);
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      transform: scaleX(0);
      background-color: rgb(38, 132, 255);
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }
}

.more-info {
  opacity: 1;
  transition: opacity 0.2s ease-in;

  &.inactive {
    opacity: 0;

    & > p,
    a {
      display: none;
    }
  }

  & > p {
    margin-bottom: 5px;
    max-width: 650px;
  }

  a {
    color: rgb(38, 132, 255);
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }
}

.select__single-value.css-qc6sy-singleValue {
  font-size: 18px;
}

.css-4l7j15 {
  background-color: transparent !important;
  border: 1px solid #ccc;
  border-radius: 10px;
}

//selected number
.css-1nql4ji-MuiTypography-root.Mui-selected {
  color: #000 !important;
}

@media screen and (max-height: 530px) {
  .sleep-container {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media (max-width: 480px) {
  .selector-wrapper {
    .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
      transform: translate(-10px, 8px);
    }
  }
  .results .calculated-time {
    grid-template-columns: auto;
  }
}

@media (min-width: 1024px) {
  .more-info-wrapper {
    text-align: left;
    width: 100%;
    transform: translateX(10%);
  }
}

@media (min-width: 1366px) {
  .more-info-wrapper {
    transform: translateX(25%);
  }
}
