@import '../../scss/variables';

form.search-box {
  box-sizing: border-box;
  position: relative;
  width: 10.6rem;
  margin-bottom: 10px;
  background: rgba($color: #fff, $alpha: 0.8);
  border-radius: $rad;
  transition: width 0.5s;

  & > button.trigger-search-btn {
    position: absolute;
    z-index: 2;
    border-radius: $rad;
    width: 46px;
    height: 46px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    background-color: transparent;

    svg {
      position: absolute;
      top: 15px;
      left: 15px;
    }
  }

  & > input,
  button.main-search-btn {
    height: $height;
    border: 0;
    color: $color-dark;
    font-size: 1rem;
  }

  & > input[type='search'] {
    outline: 0;
    background: transparent;
    border-radius: $rad;
    appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
    transition: all $dur cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;

    width: 100%;
    z-index: 1;
    padding: 0 1rem;
    position: relative;
  }

  & > button.main-search-btn {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: $btn-width;
    font-weight: bold;
    background: $primary-color;
    border-radius: 0 $rad $rad 0;
    cursor: pointer;
    display: none;

    svg {
      pointer-events: none;
      transform: translateY(4px);
      width: 1.2em;
      height: 1.2em;
      color: #fff;
      font-size: 20px;
    }
  }

  & > input:not(:placeholder-shown) {
    width: calc(100% - 46px);
    + button.main-search-btn {
      display: block;
    }
  }
}
