@import '../../scss/variables';

input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  overflow: auto;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.16px;
  font-weight: 500;
  line-height: 24px;

  &.add-btn {
    background-color: $primary-color;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    color: #fff;

    &:hover {
      background-color: #ff5911;
    }
  }

  &.confirm-btn {
    background: $light-yellow-color;
    color: $confirm-btn-color;
    transform: translateY(5px);

    &:hover {
      background-color: #b8d8e06e;
    }
  }

  &.cancel-btn {
    background: $light-yellow-color;
    color: $cancel-btn-color;
    transform: translateY(5px);

    &:hover {
      background-color: #ff7a7a3a;
    }
  }
}

.modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    margin: 10px 0 20px 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: 400;
    border-bottom: 1px solid $grey-color;
  }

  .data-fields {
    display: flex;
    flex-direction: column;

    .name-input,
    .description-input {
      position: relative;

      input,
      textarea {
        box-sizing: border-box;
        border: 1px solid #9b9b9b;
        border-radius: 4px;
        margin-bottom: 20px;

        width: 100%;
        height: 20px;
        padding: 20px;
        font-size: 20px;
        transition: 0.25s ease;
        background-color: $light-yellow-color;

        &:hover {
          border: 2px solid #9b9b9b;
          padding-bottom: 18px;
        }

        &:focus {
          border: 2px solid $primary-color;
          padding-bottom: 18px;
        }
      }

      label {
        position: absolute;
        transition: 0.25s ease;
        top: 50%;
        left: 20px;
        color: #616161;
        user-select: none;
        pointer-events: none;
        transform: translateY(-100%);
      }

      textarea:not(:placeholder-shown) + label,
      textarea:focus + label,
      input:not(:placeholder-shown) + label,
      input:focus + label {
        top: 9px;
        left: 17px;
        padding: 0 5px;
        display: inline-block;
        background-color: $light-yellow-color;
        color: $primary-color;
        font-size: 14px;
      }
    }
  }

  .footer {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
    border-top: 1px solid $grey-color;
  }
}

.Modal {
  position: absolute;
  z-index: 5;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  max-width: 500px;
  max-height: 400px;

  margin: auto;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $grey-color;
  background-color: $light-yellow-color;
  box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.3);
}

.Overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}

// .ReactModal__Body--open {
//   overflow-y: hidden;
//   padding-right: 17px;
// }

// Animation:
.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.2s ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}
.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-30px);
}

.starting-label,
.finishing-label {
  transform: translateY(25px);
}
.starting-label::after {
  content: ' *';
  color: red;
}

.date-input {
  border: 1px solid #9b9b9b;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  height: 12px;
  width: 45%;
  padding: 12px;
  font-size: 18px;
  transition: 0.25s ease;
  transform: translateX(220px);
}

.react-datepicker-popper {
  transition: all 0.2s ease-in;
}

.react-datepicker__close-icon {
  &::after {
    background: $primary-color;
  }
}
