/* *** Colors *** */
$primary-color: #ff7235;
$primary-color-hover: #ff9161;
$light-yellow-color: #fcf5ef;
$grey-color: #c4c4c4;
$light-blue-color: #e5e5e5;
$blue-color1: #6db5ca;
$blue-color2: #b8d8e0;

$confirm-btn-color: #2c98f0;
$cancel-btn-color: #ff4040;

/* *** Mixin *** */
// @mixin button {
//   border-radius: 5px;
// }

/* *** Screen size for responsiveness *** */
$tablet: 768px;
$mobile: 480px;
